<%- include('../partials/header') %>

<form id="addticket" action="/flights/<%= flight._id %>/tickets" method="POST">
    <label>Seat:</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price:</label>
    <input type="number" name="price">
    <button type="submit">Put Dat Ticket IN</button>
</form>

<%- include('../partials/footer') %>   